@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');


body {
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	line-height: 1.6;
	color: #424551;
}

.header {
}
.main {
}
.container {
	max-width: 810px;
	margin: 0 auto;
}
.title {
	font-weight: 900;
	font-size: 46px;
	line-height: 1.3;
	color: #1E212C;
	margin-bottom: 92px;
}
.image {
	margin-bottom: 60px;
}

.image-item {
	max-width: 100%;
}

.text-bold {
	font-size: 20px;
	font-weight: 700;
	line-height: 1.5;
	color: #1E212C;
	margin-bottom: 24px;
}
.item-bold {
}
.text-regular {
	margin-bottom: 48px;
}
.item-regular {
}
.item-regular-first {
	margin-bottom: 26px;
}
.text-quote {
	font-size: 20px;
	font-weight: 700;
	line-height: 1.5;
	color: #1E212C;
	margin-bottom: 48px;
}
.item-quote {
	padding-left: 58px;
}
.text-mauris {
	margin-bottom: 24px;
}
.item-mauris {
}
.text-list {
	margin-bottom: 24px;
}
.list {
}
.item {
	margin-left: 32px;
}
.text-ending {
	margin-bottom: 60px;
}
.item-ending {
}
.footer {
}


.container-experiments{
	padding: 15px;
	border-top: 2px solid #000;
}
.text1,
.text2,
.text3 {
	margin-bottom: 40px;
	max-height: 100px;
	max-width: 80%;
}

.text1 {
	overflow: scroll;
	outline: 1px solid blue;
	background-color: rgb(119, 248, 194);
}

.text2 {
	overflow: visible;
	border: 5px double violet;
	background-color: rgb(255, 251, 140);
}

.text3 {
	overflow: hidden;
	border-left: 3px dotted deepskyblue;
	border-bottom: 3px dashed rebeccapurple;
	background-color: rgb(255, 152, 216);
	opacity: 0.7;
}

.transparent {
	margin-bottom: 40px;
}

.opasity {
	margin-bottom: 30px;
	opacity: 0;
}

.display-none {
	margin-bottom: 30px;
	display: none;
}

.visibility {
	visibility: hidden;

}

.circle {
	text-align: center;
	margin-bottom: 40px;
}

.img {
	max-width: 300px;
	max-height: 300px;
	margin-right: 30px;
	border-radius: 50%;
	box-shadow: 3px 5px 7px gray;
}

.shadow {
	width: 550px;
	height: 250px;
	margin: 0 auto;
	background-color: rgb(172, 17, 229);
	border-radius: 10px 25px 50px 5px;
	box-shadow: 15px 10px 20px 3px rgba(18, 1, 101, 0.856), inset 3px 2px 10px 3px rgb(78, 3, 113);
}